/*mobile first */
.MetricsContainer {
    display: flex;
    height: 15vh;           
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;        
}

.TextStyle {
    color: #34495e;
    font-size: 0.90rem;    
    font-weight: 600;
    word-wrap: break-word;
    margin: 5px;
    margin-bottom: 0.40rem;
}

/* Vista para escritorio */
@media (min-width: 576px) {
    .MetricsContainer {
        height: 15%;        
        padding: 1.5rem;  
    }

    .TextStyle {
        font-size: 1rem; 
        margin-bottom: 0.5rem;
    }
}