.Body{
    background-color: #ecf0f1;
  height: 67vh;
  padding: 32px 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.BodyContainer{
    display: flex;
  align-items: flex-end;
  gap: 20px;
  align-self: stretch;
}

.MapContainer{
display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  align-self: stretch;
}

.OrdersContainer{
    display: flex;
  width: 711px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}