.MetricsContainer{
    display: flex;
  height: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
}

.TextStyle{
    color: #34495e;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
    margin: 5px;
}

@media (max-width: 575.98px) {
  .MetricsContainer {
      height: 13vh;
      padding: 1rem;
  }

  .TextStyle {
      font-size: 1rem;
      margin-bottom: 0.40rem;
  }
}