.TittleStyle{
  display: flex;
  width: 173px;
  height: 22px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.CardStyle{
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 133px;
  padding: 10px;
  align-items: center;
  gap: 6px;
  background-color: #fff;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.textContainer{
    display: flex;
    width: 140px;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TextStyle{
    font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollWrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  white-space: nowrap;
}

.scrollContainer {
  display: flex;
  flex-wrap: nowrap; 
  padding: 10px;
}

.scrollItem {
  flex: 0 0 auto;
}

@media (max-width: 768px) {
  .scrollItem {
    width: 100%;
  }
}

