.MetricsContainer{
    display: flex;
  height: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
}
.TextStyle{
    color: #34495e;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    margin: 5px;
}