.Body{
  background-color: #ecf0f1;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.BodyContainer{
  width: 100%;
  align-self: stretch;
}

.MapContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  gap: 15px;
  padding-bottom: 1rem;
}

.OrdersContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

@media (max-width: 575.98px) {
    .Body {
      overflow: scroll;
    }
    .MapContainer {
      height: 60vh;
    }
  }