.Background{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
}

.LoginButton{
    width: 100%;
  padding: 15px;
  background-color: #ffc107;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}

.FormContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  height: 80vh;
  padding: 4vw;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.LoginTitle{
    margin-bottom: 30px;
    font-size: 1.75rem;
    color: #37474f;
}

.LabelStyle{
    display: block;
  margin-bottom: 5px;
  color: #37474f;
  font-weight: bold;
}

.InputStyle{
    width: 100%;
    padding: 12px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-sizing: border-box;
}

.RowStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}