.HeaderStyles{
  height: 10vh;
  flex-shrink: 0;
  background-color: #1abc9c;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.ProfileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}


.Profile{
    width: 10%;
    height: 40%;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 5px;
}