.container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hiddenOnXS{
    display: none;
}

.icons{
    width: 45%;
    height: 55%;
    cursor: pointer;
}

.orders{
    width: 110%;
}

@media (min-width: 768px) {
    .hiddenOnXS {
      display: block;
    }
    .icons{
        width: 40%;
        height: 40%;
    }
    .orders{
        width: 100%;
    }
  }