.container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hiddenOnXS{
    display: none;
}

.icons{
    width: 45%;
    height: 45%;
}

@media (min-width: 768px) {
    .hiddenOnXS {
      display: block;
    }
  }